.product-account {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    animation: sidenavRightOpen 0.3s;
    padding-top: 61px;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.customer {
    max-width: 400px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.account-header {
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    flex: 1;
    font-weight: 600;
    justify-content: space-between;
    text-transform: uppercase;
}

.login-tabs {
    margin: auto;
    display: flex;
}

.login-tabs a {
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px !important;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #425160;
    font-weight: 700;
    max-width: 100px;
    border-radius: 5px;
}
.login__tabs a:hover {
    background: #9FAEC1;
    color: #fff;
}

.login-tabs a {
    margin-right:20px;
    border-right: 1px solid #fff;
    text-decoration: none;
}

.login-tabs.register-btn {
    border-left: 1px solid #fff;
}

.login-tabs .active-tab {
    color: #fff;
    background-color: #425160;
}
.account-content__header{
    display: none;
}

.login-content .email-label {
    color:#425160;
    font-size: 12px;
    text-align: left;
}

.login-button {
    transform: unset;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: block;

}

.product-account__register {
    display: none;
}

.field__input, .customer .field input {
    background: #F3F3F3;
    border: 1px solid #ECECEE;
    border-radius: 3px;
}

.product-account-button {
    border: 1px solid #9faec1;
    background-color: #9faec1;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 13px;
    transition: 0.25s linear;
    text-transform: uppercase;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    color: #637895;
    cursor: pointer;
}

.product-account_btn {
    border: 1px solid #ccced0;
    background-color: #ccced0;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    margin: 0px 0px 0px;
    padding: 13px;
    max-width: 290px;
}

.product-account  .field {
    margin-bottom: 30px;
}